<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>187200434943-hdt78ohb2r9dm4bj7uo078nku5helk4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187200434943-hdt78ohb2r9dm4bj7uo078nku5helk4l</string>
	<key>API_KEY</key>
	<string>AIzaSyAfmxwWSmQsJP_ioDM8_xJXaLyBmegVLsg</string>
	<key>GCM_SENDER_ID</key>
	<string>187200434943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.caglaruslu.Checked</string>
	<key>PROJECT_ID</key>
	<string>checked-6f05d</string>
	<key>STORAGE_BUCKET</key>
	<string>checked-6f05d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187200434943:ios:82f1d2de516af9f8</string>
	<key>DATABASE_URL</key>
	<string>https://checked-6f05d.firebaseio.com</string>
</dict>
</plist>